html {
  scroll-behavior: smooth;
}

.animate__animated.animate__delay-015s {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.animate__animated.animate__delay-025s {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.animate__animated.animate__delay-05s {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.animate__animated.animate__delay-075s {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.animate__animated.animate__delay-1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.landing-header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.landing-header .browser {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.landing-nav {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 0;
}

.landing-nav .navbar-nav {
  overflow: auto;
  white-space: nowrap;
}

.card.bg-fill {
  background: linear-gradient(270deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0) 100%),
  url("/assets/cities/madrid.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recomendations {
  background: rgb(8,127,91);
  background: linear-gradient(135deg, rgba(8,127,91,1) 0%, rgba(18,184,134,1) 100%); 
  border-bottom: 5px solid white;
  z-index: 10;
}

.planner {
  background: rgb(28,126,214);
  background: linear-gradient(135deg, rgba(28,126,214,1) 0%, rgba(51,154,240,1) 100%); 
  border-bottom: 5px solid white;
  z-index: 10;
}

.community {
  background: rgb(90,32,105);
  background: linear-gradient(135deg, rgba(90,32,105,1) 0%, rgba(204,93,232,1) 100%); 
  z-index: 10;
}